<div class="extended-pagination">
    <div class="row">
        <div class="col-sm-8">
            {% if page_count > 1 %}
                <ul class="pagination">
                    {% if previous is defined %}
                        <li><a href="{{ app.request|modify_query({(page_parameter): previous}) }}"><i class="fa fa-chevron-left"></i></a></li>
                    {% endif %}

                    {% if start_page > 1 %}
                        {% if current == start_page %}
                            <li class="active"><a href="#">1</a></li>
                        {% else %}
                            <li><a href="{{ app.request|modify_query({(page_parameter): 1}) }}">1</a></li>
                        {% endif %}
                    {% endif %}

                    {% if start_page > 2 %}
                        <li class="disabled"><a href="#">&hellip;</a></li>
                    {% endif %}

                    {% for page in start_page..end_page %}
                        {% if current != page %}
                            <li><a href="{{ app.request|modify_query({(page_parameter): page}) }}">{{ page }}</a></li>
                        {% else %}
                            <li class="active"><a href="#">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if end_page < (page_count - 1) %}
                        <li class="disabled"><a href="#">&hellip;</a></li>
                    {% endif %}

                    {% if end_page < page_count %}
                        {% if current == end_page %}
                            <li class="active"><a href="#">{{ page_count }}</a></li>
                        {% else %}
                            <li><a href="{{ app.request|modify_query({(page_parameter): page_count}) }}">{{ page_count }}</a></li>
                        {% endif %}
                    {% endif %}

                    {% if next is defined %}
                        <li><a href="{{ app.request|modify_query({(page_parameter): next}) }}"><i class="fa fa-chevron-right"></i></a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        <div class="col-sm-4 text-right">
            {% if total_count == 0 %}
                <span class="btn color-error disabled">{{ 'No results'|trans }}</span>
            {% else %}
                {% set from_index = (current - 1) * limit %}
                {% set to_item = from_index + limit %}

                {% if to_item > total_count %}
                    {% set to_item = total_count %}
                {% endif %}

                <span class="btn disabled text-muted">
                    {{ 'Showing %from% to %to% from %total%'|trans({'%from%': from_index + 1, '%to%' : to_item, '%total%': total_count})|raw }}
                </span>
            {% endif %}
        </div>
    </div>
</div>